@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@500;700&family=Open+Sans:wght@400;600;700&family=Outfit:wght@400;700&family=Poppins:wght@200;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Open+Sans:wght@400;600;700&family=Outfit:wght@400;700&family=Poppins:wght@200;300;400;500;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    line-height: 1.4;
    background-color:hsl(30, 38%, 92%);
    width: 1440px;
} 

.container{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: space-between;
    background-color:hsl(0, 0%, 100%);
    width: 500px;
    height: 400px;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 400px;
}
.box img{
    position: absolute;
    width: 250px;
    height: 400px;
    border-radius: 10px;
}
    
 .button{
    position: absolute;
    width: 180px;
    height:40px;
    background-color:hsl(158, 36%, 37%) ;
    color: #fff;
border-radius: 5px;
border: 1px solid darkcyan;
}

.button:hover{
   background-color:darkslategray ;
}

.container .text-box h1{
    position: absolute;
    font-family: 'DM+Sans,Fraunces';
    font-weight : 400;
    font-size: 14px;
    margin-top: 15px;
    margin-left: 5px;
    color: hsl(228, 12%, 48%);
 }

 .container .text-box h2{
    position: absolute;
    font-family: 'DM+Sans, Montserrat';
    font-weight : 700;
    font-size: 24px;
    margin-top: 45px;
    margin-left: 5px;
   
 }

 .container .text-box h3{
    position: absolute;
    font-family: 'DM+Sans,Montserrat ';
    font-weight : 700;
    font-size: 24px;
    margin-top: 280px;
    margin-left: 15px;
    color: hsl(158, 36%, 37%);
 }

 .container .text-box h4{
    position: absolute;
    font-family: 'DM+Sans,Fraunces';
    font-weight : 400;
    font-size: 14px;
    margin-top: 290px;
    margin-left: 130px;
    color: hsl(228, 12%, 48%);
 }

 .container .text-box p{
    position: absolute;
    font-family: 'DM+Sans,Fraunces';
    font-weight : 400;
    font-size: 18px;
    margin-top: 150px;
    margin-left: 5px;
    color: hsl(228, 12%, 48%);
 }

 .container .text-box button{
    margin-top:330px ;
    margin-left:20px ;
 }


 @media(max-width:375px) {
   .html, body{
       width: 375px;
   }
}